@font-face {
	font-family: 'Artico';
	font-style: normal;
	font-weight: normal;
	src: local('Artico'), url('../fonts/Artico.woff') format('woff');
}

@font-face {
	font-family: 'Artico';
	font-style: italic;
	font-weight: normal;
	src: local('Artico'), url('../fonts/Artico Italic.woff') format('woff');
}

@font-face {
	font-family: 'Artico';
	font-style: normal;
	font-weight: bold;
	src: local('Artico'), url('../fonts/Artico Medium.woff') format('woff');
}

body {
	margin: 0;
}

p, a {
	font-family: 'Artico';
}

#alert {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);

}

#alert_body {
	display: block;
	margin: auto;
	margin-top: calc(50vh - 15vw);
	width: 40vw;
	height: 30vw;
	background-color: #3a4750;
	overflow: auto;
}

#alert_body_text {
	display: block;
	font-size: 16px;
	color: #eeeeee;
	margin: 0;
	padding: 10px;
}

#alert_head {
	background-color: #303841;
	display: block;
	width: 100%;
	height: 2.5vw;
}

#alert_close {
	position: absolute;
	display: inline-block;
	left: calc(50vw + 20vw - 2.5vw);
	height: 2.5vw;

}

#head {
	display: block;
	position: fixed;
	height: 8vh;
	background-color: #303841;
	top: 0;
	left: 0;
	right: 0;
}

#head_links {
	display: inline;
	position: absolute;
	right: 0;
	line-height: 8vh;
	margin-right: 2.5vw;
}

.head_link {
	text-decoration: none;
	display: inline;
	margin-right: 2vw;
	color: #eeeeee;
	font-weight: bold;
	font-size: 4vmin;
}

.head_link:hover {
	text-decoration: underline solid 0.5vmin;
	color: #d72323;
}

.head_link:active {
	text-decoration: underline solid 0.5vmin;
	color: #d72323;
}

#head_separator {
	display: block;
	height: 8vh;
	width: 100%;
}

#main {
	height: 92vh;
	background-color: #3a4750;
	display: block;
	width: 100%;
	overflow: auto;
}

.separator1 {
	display: block;
	height: 1vh;
	width: 100%;
}

.separator2 {
	display: block;
	height: 2vh;
	width: 100%;
}

.separator5 {
	display: block;
	height: 5vh;
	width: 100%;
}

.header {
	text-align: center;
	margin: 0;
	display: block;
	color: #eeeeee;
	font-weight: bold;
	font-size: 24px;
}

.content {
	display: block;
	width: 92%;
	margin: 0 auto 0 auto;
}

.text {
	font-size: 16px;
	color: #eeeeee;
	margin: 0;
}