@font-face {
  font-family: "Artico";
  font-style: normal;
  font-weight: normal;
  src: local("Artico"), url("../fonts/Artico.woff") format("woff");
}
@font-face {
  font-family: "Artico";
  font-style: italic;
  font-weight: normal;
  src: local("Artico"), url("../fonts/Artico Italic.woff") format("woff");
}
@font-face {
  font-family: "Artico";
  font-style: normal;
  font-weight: bold;
  src: local("Artico"), url("../fonts/Artico Medium.woff") format("woff");
}
body {
  margin: 0;
  background-color: #fffff1;
}

p, a {
  font-family: "Artico";
  font-size: 16px;
}

p {
  color: #000000;
  margin: 0;
}

a {
  color: #221f3b;
  cursor: pointer;
}

#alert {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#alert_body {
  border-width: 3px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  display: block;
  margin: auto;
  margin-top: calc(50vh - 25vh);
  width: 40vw;
  height: 50vh;
  background-color: #fffff1;
}
@media screen and (orientation: portrait) {
  #alert_body {
    width: 70vw;
    height: 40vh;
  }
}

#alert_content {
  display: block;
  width: 100%;
  height: calc(50vh - 5vh);
  overflow: auto;
}
#alert_content p {
  display: block;
  padding: 10px;
  padding-top: 20px;
}
@media screen and (orientation: portrait) {
  #alert_content {
    height: calc(40vh - 5vh);
  }
}

#alert_head {
  box-shadow: 0 0 10px 10px #f9ed69;
  background-color: #f9ed69;
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (orientation: portrait) {
  #alert_head {
    height: 5vh;
  }
}

#alert_close {
  cursor: pointer;
  margin: 0.5vh;
  display: inline-block;
  height: 4vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (orientation: portrait) {
  #alert_close {
    height: 5vh -1;
  }
}

#head {
  border-width: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgb(150, 150, 150);
  background-color: #f9ed69;
  display: block;
  position: fixed;
  height: 8vh;
  top: 0;
  left: 0;
  right: 0;
}

#head_links {
  display: inline;
  position: absolute;
  right: 0;
  line-height: 8vh;
  margin-right: 2.5vw;
}
#head_links a {
  text-decoration: none;
  margin-right: 2vw;
  color: #000000;
  font-weight: bold;
  font-size: 4vmin;
}
#head_links a:hover {
  -webkit-text-decoration: underline solid 0.5vmin;
          text-decoration: underline solid 0.5vmin;
  color: #221f3b;
}
#head_links a:active {
  -webkit-text-decoration: underline solid 0.5vmin;
          text-decoration: underline solid 0.5vmin;
  color: #221f3b;
}

#head_separator {
  display: block;
  height: 8vh;
  width: 100%;
}

#main {
  height: 92vh;
  background-color: #fffff1;
  display: block;
  width: 100%;
  overflow: auto;
}

.separator1 {
  display: block;
  height: 1vh;
  width: 100%;
}

.separator2 {
  display: block;
  height: 2vh;
  width: 100%;
}

.separator5 {
  display: block;
  height: 5vh;
  width: 100%;
}

.header {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.content {
  display: block;
  width: 92%;
  margin: 0 auto 0 auto;
}/*# sourceMappingURL=style.css.map */